<div class="container">

<mat-card class="panel">
  <div class="title">
  <mat-card-title id="passwordGeneratorTitle">Secure Password Generator</mat-card-title>
  </div>
  <mat-card-content>
    <div class="passwordLength input">
        <span class="text">Password Length</span>
        <input style="width: 70px; " [(ngModel)]="passwordLength" type="number">
    </div>

    <div class="symbols input">
      <span  class="text" >Symbols</span>
      <input type="checkbox"  [(ngModel)]="isSymbolsChecked">
    </div>
    <div class="Numbers input">
      <span  class="text">Numbers</span>
      <input type="checkbox" [(ngModel)]="isNumbersChecked">
    </div>
    <div class="lowerCase input">
      <span  class="text">LowerCase</span>
      <input  type="checkbox" [(ngModel)]="isLowerCaseChecked">
    </div>
    <div class="text" class="upperCase input">
      <span >UpperCase</span>
      <input type="checkbox" [(ngModel)]="isUpperCaseChecked">
    </div>
    <div class="generateButton">
      <button id="button" (click)="check()">Generate Password</button>
    </div>
    <div   class="password">
     <span class="textpass" #genPassword></span>
    </div>
  </mat-card-content>
</mat-card>

</div>
