.panel{
height:450px;
width:350px;
box-shadow: 0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12);
background:#fff;
padding:40px;
}

.container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg,#0d47a1,#42a5f5);
}

#passwordGeneratorTitle{
    font-size:24px;

}

.title{
    display:flex;
    justify-content: center;
    margin-bottom:30px;
}
.input{
    height:30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:10px;
}

#button{
width: 100%;
    color: #fff;
    background-color: #1976d2;
    margin-top: 30px;
    height:40px;
    border:none;
    margin-bottom:20px;
}

.password{
    border: solid 1px;
    min-height:40px;
    /* height:40px; */
    display:block;
    width:100%;
    
    float:left;
}


